name: Daily Real Estate News

on:
  schedule:
    - cron: '0 23 * * *' # 台灣時間早上 07:00
  workflow_dispatch: # 允許手動按按鈕

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    - name: Install libraries
      run: |
        pip install -r requirements.txt
    - name: Run bot
      env:
        LINE_NOTIFY_TOKEN: ${{ secrets.LINE_NOTIFY_TOKEN }}
      run: python news_bot.py

